/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

:root {
    --clr-primary: orangered;
}

body {
    font-family: 'Rosarivo', serif !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.712) !important;
}