/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

:root {
    --clr-primary: orangered;
}

body {
    font-family: 'Rosarivo', serif !important;
}

section {
    padding-top: 80px;
    margin-bottom: 40px;
}

a.btn {
    font-weight: bold;
}

/* Carousel */
.carousel-item {
    height: 80vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: 40% 30%;
}

.carousel-indicators [data-bs-target] {
    width: 70px !important;
    height: 6px !important;
    margin: auto 10px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px !important;
    height: 50px !important;
}

#our-package ul li {
    list-style: none;
    margin: 10px 0;
}

#our-package ul li::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f00c";
    padding: 4px;
    color: var(--clr-primary);
    background-color: rgba(255, 68, 0, 0.2);
    border-radius: 50%;
    margin-right: 10px;
}

#our-package .bg-primary ul li::before {
    color: white;
    background-color: rgba(0, 255, 255, 0.2);
}

@media screen and (max-width: 992px) {
    .carousel-item {
        height: 70vh;
    }
}